// Fuentes
$fuente_principal : "Montserrat", sans-serif;

// Colores
$negro : #17181f;
$verdeO : #314d4a;
$verdeC : #0b8770;
$verdeM : #a6c288;
$amarillo : #ebe68d;
$blanco : #fff;


// Media Queries

$telefono: 468px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1600px;
